# Ignore design and working files
*.indd
*.psb
*.psd
*.ai
*.dwg
*.3dm
*.skp

# Ignore system thumbnails and backups
.DS_Store
Thumbs.db
Old/
old/
Backup/

# Original ignored directories
Ref/
working/

# Ignore stray scratch/draft files
New Text Document.txt
*.mov

# Ignore local README.md
README.md
.vercel
